* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin-top: 50px;
}

ul {
    list-style: none;
}

body,
html {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    color: #3C4B55;
}

.container {
    max-width: 1500px;
    padding: 0 15px;
    margin: 0 auto;
}
